*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;          
  } 

.main{
    background-image: url(images/logo.jpg);
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}

.nav-item{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.images img{
    width: 80%;
    height: 100%;
}

.list_product{
    text-align: center;
    font-family: 'Times New Roman';
}

.list_product h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Times New Roman';
}

.row{
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.btn-secondary{
    width: 70px;
    height: 40px;
}

.bg{
    color: rgb(0, 0, 0);
    background-color: black;
    height: 100%;
}

i{
    color: white;
}

h5{
    color: white;
    text-align: center;
    font-family: 'Times New Roman';
    text-overflow: clip;
    text-overflow: ellipsis;
}

p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman';
    font-style: italic;
}

.item_name{
    color: white;
}

.item_name:hover{
    color: rgb(235, 134, 121);
}

.see_more a{
    color: white;
    text-align:left;
}

.see_more a:hover{
    color: rgb(235, 134, 121);
}

.see_more .two{
    color: rgb(235, 134, 121);

}
.see_more .two:hover{
    color: white;
}

.see_more .one{
    color: white;
    text-align:left;
}
.see_more .one:hover{
    color: rgb(235, 134, 121);
}

.see_more .more{
    color: white;
    text-align:left;
}
.see_more .more:hover{
    color: rgb(235, 134, 121);
}